/* src/components/Header.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3324db;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    width: 100px;
  }
  
  .navbar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color:#f7f2f2
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: #f7f2f2;
    font-weight: bold;
  }
  
  